$theme1-bg: #fff;
$theme1-text: #000;

$theme2-bg: #333;
$theme2-text: #fff;

body.theme1 {
  --bg-color: #{$theme1-bg};
  --text-color: #{$theme1-text};
}

body.theme2 {
  --bg-color: #{$theme2-bg};
  --text-color: #{$theme2-text};
} 