body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%; 
    margin: 0 auto;
}

.section-one, .section-two, .section-three, .section-four {
    margin-bottom: 4rem;
}