body.theme1 {
  --bg-color: #{$theme1-bg};
  --text-color: #{$theme1-text};
  --primary-color: #{$theme1-primary-color};
  --secondary-color: #{$theme1-secondary-color};
  --tertiary-color: #{$theme1-tertiary-color};
  --quaternary-color: #{$theme1-quaternary-color};
  --quinary-color: #{$theme1-quinary-color};
  --senary-color: #{$theme1-senary-color};
  --septenary-color: #{$theme1-septenary-color};
  --octonary-color: #{$theme1-octonary-color};
  --nonary-color: #{$theme1-nonary-color};
  --denary-color: #{$theme1-denary-color};
}

body.theme2 {
  --bg-color: #{$theme2-bg};
  --text-color: #{$theme2-text};
  --primary-color: #{$theme2-primary-color};
  --secondary-color: #{$theme2-secondary-color};
  --tertiary-color: #{$theme2-tertiary-color};
  --quaternary-color: #{$theme2-quaternary-color};
  --quinary-color: #{$theme2-quinary-color};
  --senary-color: #{$theme2-senary-color};
  --septenary-color: #{$theme2-septenary-color};
  --octonary-color: #{$theme2-octonary-color};
  --nonary-color: #{$theme2-nonary-color};
  --denary-color: #{$theme2-denary-color};
}