$theme1-bg: #f7f7f7;
$theme1-text: #837c8d;

$theme2-bg: #1e1031;
$theme2-text: #dad8dd;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1920px;

$theme1-primary-color: #002675;
$theme1-secondary-color: #1e1031;
$theme1-tertiary-color: #072770;
$theme1-quaternary-color: #ceff64;
$theme1-quinary-color: #de6776;
$theme1-senary-color: #948e9d;
$theme1-septenary-color: #1e1031;
$theme1-octonary-color: #ceff64;
$theme1-nonary-color: #daff7c;
$theme1-denary-color: #ceff64;

$theme2-primary-color: #ceff64;
$theme2-secondary-color: #ff6b7f;
$theme2-tertiary-color: #6b6b6b;
$theme2-quaternary-color: #1e1031;
$theme2-quinary-color: #ceff64;
$theme2-senary-color: #190b0d;
$theme2-septenary-color: #001cc0;
$theme2-octonary-color: #ff6b7f;
$theme2-nonary-color: #727272;
$theme2-denary-color: #001cc0;